@media only screen and (max-width:30.6875em){.itin-next-trip{display:none}
}
#next-trip{margin:0 1.76470588em 1.41176471em 1.76470588em;font-size:.8823529411764706em;color:#fff;clear:left}
#next-trip .trip-title{font-size:.7647058823529411em;font-weight:bold;color:#ffcb00;display:block;margin-top:0;margin-bottom:.70588235em}
#next-trip .trip-name-icon{font-weight:bold;font-size:1.1764705882352942em;display:block}
#next-trip .trip-link{font-weight:bold;margin-left:.70588235em}